<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emeims.dao.UserMapper">


    <resultMap id="allUserMap" type="User">
        <result property="userId" column="user_id"/>
        <result property="userEmail" column="user_email"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userGender" column="user_gender"/>
        <result property="userStatus" column="user_status"/>
        <result property="positionId" column="position_id"/>
        <result property="companyId" column="company_id"/>
        <association property="position" javaType="Position">
            <result property="postId" column="position_id"/>
            <result property="postName" column="position_name"/>
        </association>
        <association property="company" javaType="Company">
            <result property="companyId" column="company_id"/>
            <result property="companyName" column="company_name"/>
            <result property="companyAddress" column="company_address"/>
            <result property="companyEmail" column="company_email"/>
        </association>
    </resultMap>

    <select id="getAllUser" resultMap="allUserMap">
        select *
        from emcims.user u,
             emcims.position p,
             emcims.company c
        where u.position_id=p.position_id
          and u.company_id=c.company_id
    </select>

    <select id="getUserById" resultMap="allUserMap">
        select *
        from emcims.user u,
             emcims.position p,
             emcims.company c
        where u.position_id=p.position_id
          and u.company_id=c.company_id
          and u.user_id=#{userId}
    </select>


    <select id="getUserByInfo" parameterType="map" resultMap="allUserMap">
        select *
        from emcims.user,
             emcims.position,
             emcims.company
        where user.position_id=position.position_id and
              user.company_id=company.company_id
            <if test="userId!=null and userId!=''">
                and user.user_id=#{userId}
            </if>
            <if test="userEmail!=null and userEmail!=''">
                and user.user_email = #{userEmail}
            </if>
            <if test="userName!=null and userName!=''">
                and user.user_name like "%"#{userName}"%"
            </if>
            <if test="userPassword!=null and userPassword!=''">
                and user.user_password = #{userPassword}
            </if>
            <if test="userGender!=null and userGender!=''">
                and user.user_gender = #{userGender}
            </if>
            <if test="positionId!=null and positionId!=''">
                and user.position_id=#{positionId}
            </if>
            <if test="userStatus!=null and userStatus!=''">
                and user.user_status =#{userStatus}
            </if>
    </select>


    <insert id="addUser" parameterType="map">
        insert into emcims.user(
            user_email,
            user_password,
            user_name,
            user_gender)
        value (#{userEmail},
               #{userPassword},
               #{userName},
               #{userGender})
    </insert>


    <update id="updateUser" parameterType="map">
        update emcims.user
            <set>
                <if test="userName!=null and userName!=''">
                    user.user_name=#{userName},
                </if>
                <if test="userEmail!=null and userEmail!=''">
                    user.user_email=#{userEmail},
                </if>
                <if test="userPassword!=null and userPassword!=''">
                    user.user_password=#{userPassword},
                </if>
                <if test="userGender!=null and userGender!=''">
                    user.user_gender=#{userGender},
                </if>
                <if test="userStatus!=null and userStatus!=''">
                    user.user_status=#{userStatus},
                </if>
                <if test="positionId!=null and positionId!=''">
                    user.position_id=#{positionId}
                </if>
            </set>
        where user_id=#{userId}
    </update>


    <update id="deleteUser" parameterType="map">
        update emcims.user
        set user_status='已注销'
        where user_id=#{userId}
    </update>


    <resultMap id="countMap" type="UserCount">
        <result property="userNumber" column="user_number"/>
        <association property="position" javaType="Position">
            <result property="postName" column="position_name"/>
        </association>
    </resultMap>
    <select id="countUser" resultMap="countMap">
        select position.position_name,count(user.position_id) user_number
        from emcims.user,
             emcims.position
        where user.position_id=position.position_id
        group by user.position_id;
    </select>
</mapper>
